<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          border: 12px solid #f3f3f3;
          border-radius: 50%;
          border-top: 12px solid #444444;
          width: 70px;
          height: 70px;
          animation: spin 1s linear infinite;
          visibility: hidden;
      }
        
      @keyframes spin {
          100% {
              transform: rotate(360deg);
          }
      }
        
      .center {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }


      .context-menu {
            position: absolute;
            text-align: center;
            background: white;
        }
  
        .context-menu ul {
            padding: 0px;
            margin: 0px;
            min-width: 150px;
            list-style: none;
        }
  
        .context-menu ul li {
            padding-bottom: 7px;
            padding-top: 7px;
            border: 0px;
        }
  
        .context-menu ul li a {
            text-decoration: none;
            color: black;
        }
  
        .context-menu ul li:hover {
            background: white;
        }


    </style>
  </head>
  <body>
    <div id="documentDetails">
    <h1 style="text-align: center;">An Introduction to Azure</h1>
    <div id="doc">Azure is Microsoft’s cloud platform, just like Google has it’s Google Cloud and Amazon has it’s Amazon Web Service or AWS.000. Generally, it is a platform through which we can use Microsoft’s resource. For example, to set up a huge server, we will require huge investment, effort, physical space and so on. In such situations, Microsoft Azure comes to our rescue. It will provide us with virtual machines, fast processing of data, analytical and monitoring tools and so on to make our work simpler. The pricing of Azure is also simpler and cost-effective. Popularly termed as “Pay As You Go”, which means how much you use, pay only for that. 
      <br><br>
      Some following are the services of Microsoft Azure offers:
      <br><br>
      1) <b>Compute:</b> Includes Virtual Machines, Virtual Machine Scale Sets, Functions for serverless computing, Batch for containerized batch workloads, Service Fabric for microservices and container orchestration, and Cloud Services and App Service for building cloud-based apps and APIs.
      <br>
      2) <b>Networking:</b> With Azure you can use variety of networking tools, like the Virtual Network, which can connect to on-premise data centers; Load Balancer; Application Gateway; VPN Gateway; Azure DNS for domain hosting, Content Delivery Network, Traffic Manager, ExpressRoute dedicated private network fiber connections; and Network Watcher monitoring and diagnostics
      <br>
      3) <b>Storage:</b> Includes Blob, Queue, File and Disk Storage, as well as a Data Lake Store, Backup and Site Recovery, among others.
      <br>
      4) <b>Security + Identity:</b> Includes Security Center, Azure Active Directory, Key Vault and Multi-Factor Authentication Services
      <br>
      5) <b>Web + Mobile:</b> Creating Web + Mobile applications is very easy as it includes several services for building and deploying applications.
      <br>
      6) <b>Containers:</b> Azure has a property which includes Container Service, which supports Kubernetes, DC/OS or Docker Swarm, and Container Registry, as well as tools for microservices.

    </div>
    <div id="contextMenu" class="context-menu" 
        style="display:none">
        <ul>
            <li onclick="myFunction()"><a href="#">Get Summary</a></li>
            <li><a href="#">Copy</a></li>
            <li><a href="#">Paste</a></li>
            <li><a href="#">Print</a></li>
            <li><a href="#">Share</a></li>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Search Result Summary</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <ul id="listParent" class="list-group"></ul>                      
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div id="loaderDiv" class="loader"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
        async function myFunction() {
            //var modalabc =  document.getElementById("exampleModalLong");
            var searchText = document.getSelection();
            console.log(`"Selected text : ${searchText}"`);
            if(searchText == "") {
                // do nothing    
            }
            else {
                url = 'http://localhost:3000/summary?searchString=' + `${searchText}`;
                //document.getElementById("documentDetails").style.visibility = "hidden";
                document.getElementById("loaderDiv").style.visibility = "visible";
                const response = await fetch(url);
                const myJson = await response.json(); //extract JSON from the http response

                $('#listParent').empty();

                var htmlContent = "";
                for(var i = 0; i < myJson.length; i++) {
                    var opt = myJson[i];
                    htmlContent += "<li class=\"list-group-item\">" + opt.content + "<br>" + "<a href="+ opt.url + " target=\"_blank\">"  + "Go to document" + "</a>" + "</li>";
                }
                $('#listParent').append(htmlContent);
                //document.getElementById("documentDetails").style.visibility = "visible";
                document.getElementById("loaderDiv").style.visibility = "hidden";
                $("#exampleModalLong").modal("toggle");
            }
        }

        document.onclick = hideMenu;
        document.oncontextmenu = rightClick;
  
        function hideMenu() {
            document.getElementById(
                "contextMenu").style.display = "none"
        }
  
        function rightClick(e) {
            e.preventDefault();
  
            if (document.getElementById(
                "contextMenu").style.display == "block")
                hideMenu();
            else {
                var menu = document
                    .getElementById("contextMenu")
                      
                menu.style.display = 'block';
                menu.style.left = e.pageX + "px";
                menu.style.top = e.pageY + "px";
            }
        }

      </script>
  </body>
</html>
