<!DOCTYPE html>
<html>
  <head>
    <title>Hi <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hi <%= title %> !</h1>
    <p>Welcome to <%= title %></p>
    <div id="doc" onmouseup="myFunction()">This example app service how to assign an "onselect" event to an input element.</div>
      <p id="demo"> API response is : </p>

      <script>
        async function myFunction() {
            //document.getElementById("demo").innerHTML = "you selected" + document.getSelection();
            var searchText = document.getSelection();
            console.log(`"Selected text : ${searchText}"`);
            url = 'http://localhost:3000/summary?searchString=' + `${searchText}`;
            const response = await fetch(url);
            const myJson = await response.json(); //extract JSON from the http response
            document.getElementById("demo").innerText = JSON.stringify(myJson);
            
        }
      </script>
  </body>
</html>
